@import '../../../styles//common';

.main {
  background-color: #45565e;
}

.flexContainer {
  width: $largeScreen;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 25px 0px;
  gap: 15px;
  color: white;

  a {
    color: white;
  }
  .linkBox {
    border: 1px solid black;
    border-radius: 10px;
  }
  .storeBox {
    display: flex;
    align-items: center;
    padding: 5px 35px 5px 15px;
    .imageBox {
      margin-right: 10px;
    }
    p:first-child {
      font-size: 14px;
    }
    p:last-child {
      font-weight: bold;
    }
  }
  @media (max-width: 1023px) {
    & {
      width: $smallScreen;
      flex-direction: column;
      .linkBox {
        width: 90%;
      }
    }
  }
}

.ratingsBox {
  display: inline-block;
  margin-right: 10px;
  i {
    margin-right: 5px;
  }
}
