.main {
  position: relative;
  input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    border: 1px solid black;
    &:focus {
      outline: none;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 10px;
    display: flex;
  }
}

.errorBox {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}
